@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient {
    background: rgb(0,38,28);
    background: radial-gradient(circle at top, #00261c 0%, #010604 25%);
    background-size: cover; /* Asegura que cubra toda la pantalla */
}

.text-gradient {
    background: #869791;
background: linear-gradient(to bottom, #869791 0%, #E0E4E2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    background-clip: text; /* Para otros navegadores */
    text-fill-color: transparent; /* Para otros navegadores */
}

/* Scroll personalizado */
::-webkit-scrollbar {
    width: 4px; /* Ancho de la barra de scroll */
}

::-webkit-scrollbar-track {
    background: #010604;
}

::-webkit-scrollbar-thumb {
    background-color: #00261c; /* Color de la barra de desplazamiento (scrollbar) */
    border-radius: 5px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #004034; /* Color cuando el usuario pasa el cursor por encima */
}

::-webkit-scrollbar-thumb:active {
    background-color: #004e45; /* Color cuando el usuario está arrastrando la barra */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }